.container-fluid{
    height: 100%;
}

.center{
    display:flex;
    align-items:center;
    justify-content:center;
    -webkit-flex-direction: column;
    flex-direction: column;

    border: 2px solid black;
    font-size: 46px; 
    color: red;
}

