<!-- <app-dashboard></app-dashboard> -->
<div class="container-fluid">
<div class="image">
<img src="../../assets/冰箱線廠域圖.png" class="d-inline-block align-top" alt="">
</div>
</div>

<button type="button" class="btn btn-warning btn-lg button-a"routerLink="/dashboard/0"><strong>箱體發泡</strong></button>
<button type="button" class="btn btn-warning btn-lg button-b"routerLink="/dashboard/2"><strong>裝配線入口</strong></button>
<button type="button" class="btn btn-warning btn-lg button-c" routerLink="/dashboard/3"><strong>裝配線出口</strong></button>