.title{
    padding-top: 10px;
    display: flex;
    padding-bottom: 10px;
}

.seprator {
    flex: 1 1 auto;
}


table{
    text-align: center;
}

td, th{
    vertical-align:middle;
    /* font-size: 30px; */
}

table,tr,th, td{
    border: 2px solid black;
    font-size: 34px;
}

tbody{
    color: red;
    font-weight: bold;
}

.col1{

}
.col2{
    border: 2px solid black;
    height: 25vh;
    margin: 0px;
    padding: 0px;
}
.row1{
    margin: 0px;
    padding: 0px;
}
app-pie{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top: 2vh;
}